	<div class="inner"><span class="corners-top"><span></span></span>
            <ul class="legend">
                <li class="post-unread">{L_NEW_POSTS}</li>
                <li class="post-read">{L_NO_NEW_POSTS}</li>
				<li class="post-locked">{L_NO_NEW_POSTS_LOCKED}</li>
                <li class="post-announce">{L_ICON_ANNOUNCEMENT}</li>																		
                <li class="post-sticky">{L_ICON_STICKY}</li>
                <li class="post-moved">{L_TOPIC_MOVED}</li>
            </ul>
    <span class="corners-bottom"><span></span></span></div>